doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//twitter.github.io/bootstrap/assets/css/bootstrap.css')
  body
    block content
